body{
    font-family: 'rubik', sans-serif;
    font-weight: 100;
}
body > * {
    font-family: 'rubik', sans-serif;
    font-weight: 100;
}  
a{
    text-decoration: none !important;
    color: black !important;
} 
a:hover{
    text-decoration: underline;;
} 
.nav-link{
    color: black;
    display: inline-block;
    position: relative;
}
.nav-link:hover{
    color: black;
}
.nav-link:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: 
    #818080;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav-link:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
#logo{
    width: 60px;
}
#social-icon-links{
    display: flex;
}
#social-icon-links li{
    list-style: none;
}
#intro{
    text-align: left;
}
/* FORM INPUTS STYLING */
textarea,input{
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    padding: 0.3em;
    margin: 0.4em 0;
}
form{
    padding: 2em;
}
button{
    border-radius: 0;
}
#hero-section{
    height: 100vh;
}
main{
    height: 100vh;
}

@media screen and (min-width: 769px) {
    #hero-section{
        height: 70vh !important;
    }
    #hero-section .row{
        margin-top: 30vh;
    }
    #intro #image{
        margin-top: -2em !important;
    }
    #mobile-menu-icon{
        display: none;
    }
}


@media screen and (max-width:768px) {
    
    nav{
        display: none !important;
    }
    #intro #image{
        padding: 2em 3em 0 3em !important;
    }
    #intro {
        margin-top: 5.5em;
        margin-bottom: 4.5em;
    }
    .content-segment{
        margin-top: -6em;
    }
    #social-icon-links-box{
        display: none !important;
    }
}

